{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": ["*.scss", "*.css"],
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
			"options": {
				"singleQuote": true
			}
		}
	]
}
